body {
    background: url("/images/background-image.jpg ");
    background-size: 100%;
    background-repeat: no-repeat;
}

.container {
   background-color:rgba(171, 183, 183, 1)
   
   border-radius: 5px;
} 


